PORT = 8000
DATABASE_URI=mongodb://shubham_87:mandal1212@ac-abgstwe-shard-00-00.pj0s1ys.mongodb.net:27017,ac-abgstwe-shard-00-01.pj0s1ys.mongodb.net:27017,ac-abgstwe-shard-00-02.pj0s1ys.mongodb.net:27017/?ssl=true&replicaSet=atlas-alafqy-shard-0&authSource=admin&appName=Cluster0